[2019-11-08 17:22] milesmatthias opened #3 "Use null_data_source when data resource lifecycles have been fixed"
During [work on PR 2](https://github.com/terraform-google-modules/terraform-google-gcloud/pull/2) we tried to use `null_data_source` instead of using `locals` to wait for gcloud to finish installing & updating, but there's [an open Terraform issue regarding data resource lifecycles](https://github.com/hashicorp/terraform/issues/17337#issuecomment-366812724), so we reverted it.

When that issue is

[2019-12-26 17:54] chiokejjones opened #10 "error: /bin/sh: 2: gcloud not found"
Hi all,

`Terraform v0.12.18`

The null_resource "run_command" is generating the follow error:

    module.non_prod.module.gcp_workspace_factory.module.gcloud.null_resource.run_command[0]: Destroying... [id=490511438395957534]
    module.non_prod.module.gcp_workspace_factory.module.gcloud.null_resource.run_command[0]: Provisioning with 'local-exec'...
    module.non_prod.module.gcp_workspace_facto

[2019-12-26 18:05] morgante commented on #10
What platform are you using? And can you run `terraform version`?

[2019-12-26 18:35] milesmatthias commented on #10
@chiokejjones could you try explicitly setting the version for this module to `v0.2.0` and let us know if it was successful? There was a big change in `v0.3.0` that shifted things around quite a bit.

[2019-12-27 19:03] chiokejjones commented on #10
Hey fellas.

@morgante I'm using Terraform Enterprise running `Terraform v0.12.18`.

@milesmatthias I receive the same error when explicitly setting `v0.2.0` or `v0.1.0`.

[2019-12-27 21:32] morgante commented on #10
@chiokejjones How about with `v0.3.0`? @taylorludwig Could your changes have caused this? Maybe we can test on Terraform Cloud.

[2019-12-27 22:13] taylorludwig commented on #10
@morgante the command looks good. I see the `PATH` updated as expected with the new `v0.3.0` changes.

I did notice in the output above the command is `gcloud iam service-accounts enable projects/...` but **`enable`** is the `destroy_cmd_body`

So it would make sense that it fails on `destroy` - the `decompress` and `upgrade` resources wouldn't have run on a fresh new vm/container (as terraform cl

[2019-12-27 23:00] taylorludwig commented on #10
I was able to replicate the same error on terraform cloud during a `destroy`.

`apply` worked as intended. I'll see if I can find a way to force the provision steps to happen on `destroy` for the setup gcloud resources.

[2019-12-27 23:15] chiokejjones commented on #10
@morgante I received the same error on all three versions.

@taylorludwig It seems to force the destroy of the `null_resources` regardless if I'm making a change to the service account or not.  I can try removing the `destroy_cmd_body` from the module logic.

[2019-12-27 23:51] taylorludwig commented on #10
The way it is now just setting `destroy_cmd_body` to something like `""` would still break because it'll still attempt to just run `gcloud ` at destroy time before the executable is there.

If you also set `destroy_cmd_entrypoint = ""` that should at least let terraform destroy finish. Obviously the iam-service-account would still be disabled for you since the `enable` on destroy wouldn't run.

[2019-12-28 00:15] taylorludwig commented on #10
I was able to get create and destroy working with my PR here https://github.com/terraform-google-modules/terraform-google-gcloud/pull/11

@morgante seems a bit hacky and a lot of duplicate `null_resource` `local-exec` resources. But it does make sure that gcloud is decompressed and setup in the proper order during a destroy.

Output of my terraform cloud runs

[apply.txt](https://github.com/terraf

[2019-12-28 18:07] chiokejjones commented on #10
@taylorludwig Thanks for the suggestion.  Nulling those two parameters allowed the destroy to finish.

[2020-01-06 17:59] #10 closed

[2020-01-23 20:38] marshallford opened #19 "module version that includes module_depends_on param and outputs.wait"
Could you please cut a release that includes the `module_depends_on` param and the output `wait`?

I've been using the master branch's docs while using version `0.3` and it has caused some confusion lol.

Thank you.

[2020-01-23 21:16] morgante commented on #19
Release v0.4.0.

[2020-01-23 21:16] #19 closed

[2020-01-30 18:29] morgante opened #23 "Always runs installation commands"
See https://github.com/terraform-google-modules/terraform-google-project-factory/issues/363

[2020-01-30 19:17] #23 closed

[2020-02-05 19:05] bdelv opened #26 "platform default to linux"
When used indirectly (like when creating a project using terraform-google-project-factory), the **platform** variable of the gcloud module is not accessible, so its default to **linux** is problematic if using a **mac** (yes, docker is better, but still :) ).

some ideas:
- **skip_download** could be renamed to something like **skip_download_if_gcloud_found** and defaulted to true
- there could be

[2020-02-05 19:32] morgante commented on #26
I think attempting to detect the OS if platform is empty is a good idea. A check like you suggested should work for Darwin and Linux and sounds like a good first step.

[2020-02-12 17:02] kuwas opened #27 "BUG > Ephemeral container runs breaks decompress destroy hook"
# Description

Ephemeral container runs (like in Terraform Cloud or Enterprise) breaks decompress destroy hook. `null_resource.decompress_destroy` expects a tgz to be copied by `null_resource.copy`, but in a new container this cache does not exist and it does not get copied again during the destroy lifecycle hook.

This module seems to be designed with an existing vm runner (like Jenkins) in mind,

[2020-02-14 00:01] jwp23 opened #29 "Deprecation warning for external references from destroy provisioners"
There is a deprecation warning when this module is run from the project factory for Terraform version 0.12.20
[code]

It seems related to https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/main.tf#L179-L182
[code]

[2020-03-25 19:45] grahamgilbert commented on #27
+1 on this. This is also impacting our deployments with TFE.

[2020-03-26 11:38] MajorBreakfast opened #37 "Real skip_download, download gcloud cli on-demand"
We're using the google project factory in our project and we're creating multiple projects (currently 17). Each project factory module installs this module 3 times. The cache folder is 110MB in size. Hence, we end up with a modules folder of `17 * 3 * 110MB = 5,6GB`.

I would like to request that the `cache/` folder is not included in the artifact and downloaded on-demand instead. We could then re

[2020-03-26 13:59] morgante commented on #37
What's the rate limit you're encountering?

The cache folder is deliberately bundled with the module because this module was designed for locked down environments. In those environments, Terraform is not necessarily able to reach out to a random internet endpoint to download gcloud. Using the module allows us to avoid any requirement for internet connectivity.

[2020-03-26 16:45] MajorBreakfast commented on #37
The error is:
[code]
and repeated > 2000 times until the job fails for different terraform modules. I cannot conclusively say that this module is at fault other that it is by far the largest and instantiated most often.

Terraform needs to download from GitHub, would it be possible to make the cli a separate artifact? Or as an alternative, could you provide a version of the project factory "lite e

[2020-03-26 19:41] morgante commented on #37
Got it. Unfortunately I suspect the rate-limit you're seeing is not related to the size of the module so I'm not sure caching it would help.

My understanding is it's difficult/challenging for that to work with TFE.

I just want to note this is probably an anti-pattern if they're all in the Terraform state. We encourage splitting your project resources across multiple workspaces/state configs beca

[2020-03-27 14:05] slimm609 opened #38 "module path does not match for null_resource local-execs"
Getting an error that the module path does not exist.   When I look at the .terraform directory, the path of the module is incorrect.

its looking for
[code]
however when I look in the directory only this exists.
[code]

The specific part is
`terraform-google-modules-terraform-google-gcloud-09a6f10/`
vs
`terraform-google-gcloud-0.5.1`

[code]

[2020-03-27 15:37] morgante commented on #38
At what point does this show up? Right after running `terraform init`?

cache.path is using `terraform.module`: https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/main.tf#L20

Can you share your Terraform versions (`terraform version`)?

[2020-03-27 15:42] slimm609 commented on #38
it happens at the end of the apply.    Plan run fine with no errors and says its going to update the

Here is what is says during the plan

[code]

[code]

[2020-04-05 02:03] bharathkkb opened #39 "Enable overriding create_cmd_triggers completely"
I am using this module to deploy a Kubernetes resource foo like so

[code]
**Problem:**
However due to `data.google_client_config.default.access_token` changing between Terraform plans this causes noise in the diff as well as blows away and recreates the foo resource

**Proposal**:
Either let

- `create_cmd_triggers` override `triggers`  completely

- new var `create_cmd_triggers_override` if set

[2020-04-05 02:36] morgante commented on #39
I assume what you're trying to do is have the create command body excluded from the destroy triggers.

This will not work, because Terraform *requires* that all values accessed in the provisioner are referenced from triggers.

Background here: https://github.com/hashicorp/terraform/issues/23679

[2020-04-07 15:27] eripa opened #40 "Stop adding binaries to the repository"
## Current problem

The size of this repository is much larger than it should be.

[code]

[code]

It takes almost 2 minutes to clone from GitHub with a 150mbps connection.

After cloning I investigated the cause and it looks like `google-cloud-sdk.tar.gz` has been added to the repository in multiple different versions, both for Linux and Darwin.

[code]

## Suggested solution

Stop adding the lar

[2020-04-07 16:13] morgante commented on #40
This is a duplicate of #37, you can follow discussion there.

[2020-04-07 16:13] #40 closed

[2020-04-07 16:16] eripa commented on #37
Large objects are ideally managed using [Git LSF](https://git-lfs.github.com)

[2020-04-07 16:54] marcus-foobar commented on #37
I backtracked this issue while exploring,
https://github.com/terraform-google-modules/terraform-google-project-factory

Basically, `terraform-google-gcloud` is not possible to use, or any other module depending on it.

[code]

[2020-04-07 19:27] MajorBreakfast commented on #37
@eripa This issue is about the artifact. While it's true that the SDK is checked into Git, that's a separate issue. Terraform does not clone the Git repo, but instead downloads the artifact from GitHub, so git-lfs or not does not come into play.

@marcus-foobar Could you provide additional explanation for your output snippet? I can't quite decide in what respect it relates to this issue and what p

[2020-04-07 21:02] eripa commented on #37
@MajorBreakfast thanks, I reported the binaries-in-the-repo in #40 but it was closed referring this.

[2020-04-08 00:37] marcus-foobar commented on #37
Correct. I should have highlighted what I was trying to show, sorry about that.

Lines, (see `09:22:27` -> `09:43:36`)
[code]
and
[code]

Waiting that long for a `terraform init` to complete is not a good user experience. While this is working, when not timing out, it renders the `module` unusable for some use-cases. I've tried some other terraform modules that depend on this module, and this issu

[2020-04-08 16:45] morgante commented on #37
After seeing a number of issues reported about this, I'm willing to revisit removing gcloud from the module and handle downloading it dynamically at execution time.

If someone has a chance to do a PR adding this, I will review.

[2020-04-10 21:17] marcus-foobar commented on #37
@morgante I gave it a shot,
https://github.com/terraform-google-modules/terraform-google-gcloud/pull/41

To fully leverage this redesign; then we would have to rewrite history, see @eripa ([#40](https://github.com/terraform-google-modules/terraform-google-gcloud/issues/40). The size of this repository will still be an issue if I understand how terraform works with modules (git) correctly.

[2020-04-16 08:32] morgante commented on #37
This is now addressed by #393 and available in the 1.0.0 release.

I'm fairly confident we don't need to rewrite Git history or worry about that at all. When you reference a module from the Terraform registry, it just downloads the latest version not the full git history. I just did a test invocation and confirmed the .terraform directory does not include a gcloud cache:

[code]

If anyone invokes

[2020-04-16 08:32] #37 closed

[2020-05-15 17:26] travmcvey commented on #27
+1 here, I had to find a way to get around this error, or if you are trying to destroy a workspace. I hope this helps someone else..

(This work-around requires you to authenticate with TFE/TFCloud via `terraform login`)

I have found this to work pretty well (For TFE or TFCloud users) - It does involve updating the state, so please take caution:

1. Create a `backend.hcl`:

[code]

2. Update your

[2020-05-15 17:41] kuwas commented on #27
@travmcvey It is actually fine to always have the remote backend block in the terraform configuration, even if you're using a TFE/TFC workspace that is VCS-backed.

All of our repos have this, in order to facilitate local development with speculative plans.

[2020-06-02 15:02] smathalikunnel commented on #26
any idea when this will be fixed?

[2020-06-02 15:38] morgante commented on #26
@bdelv Were you still planning to finish out #30?

[2020-06-02 17:19] bdelv commented on #26
Sorry, I've left that on the side for too long. I got used to use Docker, then I got dragged away from Terraform.
I can probably work on it by the end of the week if it's fine for you.

@smathalikunnel In the meantime, you can bypass the problem by using docker
The way I'm bypassing it when i'm on MAC is to:
- create a service account with enough rights
- save it in JSON format
- define a SERVICE_

[2020-06-19 18:50] WillBeebe opened #47 "Repo size is a few Gigs!"
Hi,

When cloning this repo I noticed it was _very_ large. Taking a look at the size of blobs..

[code]

I see that the largest blobs are:

[code]

In the gitignore I see that the cache directory is ignored. I'm assuming that was added after these were checked in.

It's pretty easy to remove large files from git history but something that's hard to express in a PR since you have to rewrite the git

[2020-06-19 19:12] bharathkkb commented on #47
Hi @WillBeebe
That is right if you clone the repo, however should not be the case if you reference via the TF registry. We can some conversation here regarding this: https://github.com/terraform-google-modules/terraform-google-gcloud/issues/37#issuecomment-614499079
/cc @morgante

[2020-06-19 20:00] WillBeebe commented on #47
No worries there. I was doing some bleeding edge dev and that's where it's impacting me. The initial clone is slow but not terrible, it's when my CI runs since there's not a released version of the module I'm using it clones down the repo. It's minor and really just code smell, happy either way here.

[2020-06-24 20:44] jthn opened #48 "Apply fails on mkdir if command has changed"
The issue that I just ran into was that I changed the value of `create_cmd_body` after a successful apply, and could not run another apply. From what I can tell, this is probably due to the fact the `prepare_cache` null resource was invalidated (due to changing the value of arguments), but the random id was already in my state file, so it tried to create the same cache directory that I already had

[2020-06-24 20:52] morgante commented on #48
`mkdir -p` sounds like a good fix, happy to accept a PR.

[2020-06-26 14:55] rohitworld90 commented on #48
It simply fails to create any directory in my case. Running on Windows 10.

[code]

It seems Windows mkdir can not create nested directories by default until something like this is done.

https://stackoverflow.com/questions/21224917/mkdir-in-windows-multiple-path-in-single-command/21225084

[2020-07-01 20:40] jthn commented on #48
@morgante I see that #49 resolves this. Thanks!

[2020-07-01 20:43] #48 closed

[2020-07-10 10:42] mattford63 commented on #47
We use Terragrunt to manage our estate and it does download the full repo each time :-(. Will any non-registry usage?

In our locked-down environments we basically build gcloud into a deploy container to solve any fetching issues.

For us to use this repo we've had to fork and use https://rtyley.github.io/bfg-repo-cleaner/ to strip out the big files.

And whilst it's great we can do this, it does

[2020-07-11 01:59] morgante commented on #47
I've cleaned up the history - should be much faster now!

[2020-07-11 01:59] #47 closed

[2020-07-12 22:09] bharathkkb commented on #39
@morgante I have been investigating this for a bit. Is it reasonable for the kubectl submodule to generate kubeconfig on the fly using `gcloud container get-credentials` as opposed to passing in `data.google_client_config.default.access_token` which will help us bypass the permadiff issue?

[2020-07-13 02:03] morgante commented on #39
I'd like to avoid using `gcloud` commands if we can avoid it. What if instead we generated a kubeconfig using the [auth module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/auth#kubeconfig-output) and referenced that?

[2020-07-13 04:18] bharathkkb commented on #39
@morgante even with the `auth module`, it references the [access token](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/blob/32e8d16ccb2c17951622f57ff9f5b2cdda1520c2/modules/auth/main.tf#L39) so I presume any steps dependent on this would be rerun?

[2020-07-13 04:26] morgante commented on #39
@bharathkkb We'd use the auth module to generate a kubeconfig file (with a static path). The gcloud module would then reference the kubeconfig file and not need to return each time.

[2020-07-13 04:45] bharathkkb commented on #39
Cool I can give that a try. My thought was since the `kubeconfig` is a templated file, TF will want to recreate that `kubeconfig` each time the `data.google_client_config.provider.access_token` changes, however with a static path the dependent gcloud module should not recreate anything else.

[2020-07-14 01:01] bharathkkb opened #52 "Prevent reinstalling already installed additional_components"
Currently we do not check if any component in `additional_components` is installed. This causes issues in environments like the cloud shell where the component maybe already been installed but component manager is disabled. Proposed solution is to only install components that are not installed.

[2020-07-14 19:22] chiokejjones opened #54 "Error opening google-cloud-sdk"
Hello. I've been using `0.3` of this module without issue for some time, but I started running into an issue both on my local TF and TFC:

**Code**
[code]
**Output**
[code]

Terraform v0.12.28

[2020-07-14 19:30] morgante commented on #54
Can you please try with a newer version of the module? We're up to 1.1.1 now.

[2020-07-14 19:31] #52 closed

[2020-07-14 19:55] chiokejjones commented on #54
The latest version resolves the problem on my local TF, but a remote run in TFC is reporting:

[code]

I also have seen this error when upgrading from `0.3` to `1.1.1` in a different TFC workspace:

[code]

[2020-07-14 19:59] morgante commented on #54
@chiokejjones You might want to clean up the old resources with `terraform destroy`.

[2020-07-14 20:35] chiokejjones commented on #54
@morgante Thanks for the tip. I was heading down that path just before you posted.

For reference:

[code]

[2020-07-14 20:35] #54 closed

[2020-07-15 23:46] bharathkkb opened #56 "Detect additional_components binaries that can be installed without gcloud"
Current fix for #52 will not detect binaries like kubectl, kustomize etc installed without using the gcloud component manager. Proposal is to replace https://github.com/terraform-google-modules/terraform-google-gcloud/blob/db6d1a4571720281c232289dda90fa6e8d7edc23/check-modules.sh#L27
with `command -v $BINARY` to detect if it exists in path.
\cc @cgrant

[2020-07-16 16:00] #56 closed

[2020-07-17 20:09] #27 closed

[2020-07-20 00:46] bharathkkb commented on #39
I have been testing this out

This had two drawbacks
- permadiff on `local_file` due to the static file always needing to be updated due to `access_token`
- inability to set most latest kubeconfig before running `destroy` time provisioner
[code]
In this case, my `destroy` command was `kubectl create ns foo --kubeconfig ../../../modules/asm/kubeconfig` and that was run before generating the new kub

[2020-07-20 13:52] njculver commented on #38
@slimm609 you might want to try this again since #27 was addressed. You'll need to remove the gcloud resources from state (aka something similar to "terraform state rm module.project_devbox.module.gcp_service_project.module.project-factory.module.gcloud_disable") but the update I made rebuilds the cache in the path the gcloud module expects if it's missing which seems like it would solve the probl

[2020-07-20 14:49] morgante commented on #39
This could probably be fixed by using `ignore_changes` on the file. That being said, doing so is likely more complicated than required.

That being said, how about we just add `gcloud container get-credentials` into the wrapper script for the kubectl submodule?

[2020-07-21 01:18] bharathkkb commented on #39
I did try with `ignore_changes` but then its hard to determine when to actually generate a new kubeconfig and when not to.

Sounds good, I will give that a go.

[2020-07-22 14:19] #39 closed

[2020-07-23 15:00] kemario opened #64 "tar: Error opening archive: Failed to open '.terraform/modules/bootstrap.seed_project.project-factory.gcloud_disable"
Having issue with executing this:

[code]

When I check the directory
[code]

Attempted removing the module and run terraform apply, get the same error message above.

[code]

[2020-07-23 20:13] morgante commented on #64
After you've destroyed, what's the terraform plan show?

[2020-07-23 20:15] kemario commented on #64
after I destroy it deletes resources. in order to get this to deploy i had to copy google-sdk files into the cache directory.

[2020-07-23 20:17] morgante commented on #64
Ok, I'm confused though. If you removed the resources from the state, is it still raising an error?

[2020-07-23 20:21] kemario commented on #64
If i remove the resources from the state file, the error still occurs.

[2020-07-23 20:25] morgante commented on #64
Ok, please share your Terraform plan then (*after* you removed them from the state).

[2020-07-23 20:30] bharathkkb commented on #64
@morgante could this have been due to the git rewrite?

[2020-07-24 15:04] kemario commented on #64
Terraform plan
`module.bootstrap.random_id.suffix: Refreshing state... [id=HI4]
module.bootstrap.module.seed_project.module.project-factory.module.gcloud_deprivilege.random_id.cache: Refreshing state... [id=OPIYGg]
module.bootstrap.module.seed_project.module.project-factory.module.gcloud_delete.random_id.cache: Refreshing state... [id=-43nyA]
module.bootstrap.module.seed_project.module.project-fac

[2020-07-24 15:11] morgante commented on #64
Sorry, this looks like the raw refresh output. We need the plan - specifically the part which shows which resources are going to be changed/deleted. You can paste it in a gist.

[2020-07-26 11:38] mrzor opened #66 ""random_id.cache is empty tuple""
Terraform 0.12.28

I have a module that contains two instances of the gcloud module.
Here is the configuration for one of them:

[code]

`terraform plan`, `terraform apply`, `terraform refresh` all function properly.
**However**, for some odd, largely unrelated `terraform import` executions, the following errors will show up:

[code]

`skip_download` is `true`. I'm not sure if Terraform evaluates

[2020-07-27 23:22] tishen25 opened #67 "Fix jq binary usage"
Users still need to install jq to use this module
https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/scripts/check_components.sh#L27

[2020-07-27 23:27] morgante commented on #67
Actually, we should update the script so we don't need jq: https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/scripts/check_components.sh#L27

@bharathkkb Can you PTAL?

[2020-07-28 00:10] bharathkkb commented on #67
Sounds good. This should be possible with gcloud native format/filters. I will try it out.

[2020-07-28 01:32] #67 closed

[2020-08-18 02:31] bharathkkb opened #75 "Path change during module upgrade results in error"
### Error
In a scenario as described below, upgrading from one module version to next results in error.

[code]

Error:
[code]

The reason seems to be that initially the directory structure is
[code]
but after a `tf init` with the new version of the module, it becomes
[code]
hence the file `.terraform/modules/bar.foo/terraform-google-gcloud-1.4.0/scripts/check_components.sh` no longer exists and h

[2020-08-18 19:55] morgante commented on #75
Could we autotaint somehow? I don't see any easy fix here unfortunately.

[2020-09-04 15:13] mgrzechocinski opened #78 "Mysterious change in additional_components_command path"
Hi.

I'm using gcloud provider to provision Cloud Firestore in my GCP project:
[code]

This module is part of quite a few TF resources and modules which define around 170 different resources, including new GCP project itself. Everything was working fine for a couple of days, both `terraform plan` and `apply` behave as expected, until today. With no visible change in any TF file, gcloud module plan

[2020-09-04 21:03] morgante commented on #78
To confirm, have you always had it hardcoded to v2.0.0? Is there any chance you updated the Terraform version?

FWIW, it should be safe to apply that command. All the script does is install additional components (`gcloud alpha` in this case) so applying it again is fine.

[2020-09-04 21:30] bharathkkb commented on #78
@morgante yes i have had some other folks reach out to me via email regarding this. This seemed to be due to an upstream change in the Terraform registry/core. For example from our CI logs:

 Aug 13, 2020:
[code]
Aug 30, 2020
[code]
This in turn triggered #75 so if you try to apply the change that is planned above, that will also fail due to path change.
The workaround suggested in #75 seemed to w

[2020-09-06 09:23] mgrzechocinski commented on #78
Hi. Thanks for response.

@morgante I've always had my module version set as `2.0.0`. The only place where I use `~>` operator is:
[code]
After this incident I set all versions explicitly to the following:
[code]
Seems like none of them has changed recently though.

@bharathkkb Thanks. I've already seen issue #75 but it seemed to me like the other problem caused by storing module version in a file

[2020-09-06 10:59] mgrzechocinski commented on #78
After spending some additional time for investigation I came to the following conclusions:

1. For **unknown** reason, around second half of Aug 2020, Terraform changed the way `terraform init` works
2. Due to this change, modules used by Terraform files are stored in different location.
Before:
[code]
After:
[code]
3. There are modules which stores either relative or full path to itself in the Te

[2020-09-09 07:33] #78 closed

[2020-09-15 02:04] bharathkkb commented on #75
I believe this should longer be an issue as with https://github.com/hashicorp/terraform/issues/26143 the folder dir will no longer have the version appended. This should resolve the issue for most use cases, the only other case would be if we change the dir locations within the module. At that point, we should consider a breaking release or add some instructions to taint as defined here.

[2020-09-15 02:04] #75 closed

[2020-09-21 20:19] thefirstofthe300 opened #81 "Running in Jenkins triggers recreation of run_command null_resource"
Because of the way that Jenkins and pathing works, the gcloud_bin_abs_path changes every Jenkins run and triggers unnecessary recreation of the `run_command` `null_resource`. Is including the absolute path necessary in the triggers?

[2020-09-22 00:06] morgante commented on #81
Unfortunately Terraform requires everything referenced in null resources (including the command path) to be captured in triggers, so I don't think there's an easy fix here.

I'd recommend installing gcloud in Jenkins and disabling download completely: https://github.com/terraform-google-modules/terraform-google-gcloud#downloading

[2020-09-29 15:50] kanekotic opened #82 "Invalid count argument error"
Currently getting an error when using the module:
**Error**
[code]

**Module**
[code]

**Environment**

* Terraform version: 0.13.3
* hashicorp/external: version = "~> 1.2.0"
* hashicorp/google: version = "~> 3.41.0"
* hashicorp/google-beta: version = "~> 3.41.0"
* hashicorp/null: version = "~> 2.1.2"
* hashicorp/random: version = "~> 2.3.0"

[2020-09-30 17:57] jaketf opened #83 "This module does not detect drift in underlying kubernetes objects."
### Problem Statement
I have an issue when using this module (indirectly from https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/master/modules/workload-identity module) where it does not detect drift in the underlying kubernetes object and attempt to correct this drift.

### Use Case
Use Workload Identity module to annotate a KSA that is managed by a `helm_release

[2020-09-30 18:54] bharathkkb commented on #83
Could we not use `create_cmd_triggers` for this?

[2020-09-30 19:02] jaketf commented on #83
I think that'd be good.
In my use case we could adapt WI module to use a trigger on KSA data source:
[code]
of course this would require configuring k8s provider.

[2020-10-07 17:00] LangdalP commented on #82
I can confirm that I am experiencing the same issue. Searches on the Internet indicates that this started happening to people after upgrading to Terraform version 0.13.x.

[2020-10-09 18:07] pinglin commented on #82
I am encountering the same issue as well. Wondering if there is a quick workaround. This has blocked all our regular plan/apply routines.

[2020-10-30 16:56] billyfoss commented on #66
I am seeing this with Terraform v0.12.29 and with the v2.0.2 release.

[code]

It only shows up when doing an `import` but it will prevent the `import` from succeeding even if the resource is elsewhere in the state.

[2020-10-30 19:07] billyfoss commented on #66
For my issue, patching main.tf line 25 with
[code]
appears to have resolved the issue.

[2020-11-12 17:17] davidmontoyago commented on #82
Experiencing the same issue while trying to provision Workload Identities with pre-existing KSAs using [terraform-google-kubernetes-engine/tree/v12.0.0/modules/workload-identity](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/tree/v12.0.0/modules/workload-identity).

- terraform 0.13.4
- hashicorp/google 3.47.0

[2020-11-12 17:19] morgante commented on #82
Thanks for the reports everyone. So far I've been unable to replicate, but clearly it's an issue. @bharathkkb Have you run into this?

[2020-11-13 04:33] bharathkkb commented on #82
@morgante yes, I was able to repro from the initial config and TF 0.13.5
[code]

@kanekotic could you try using `module_depends_on` instead?

@davidmontoyago did `annotate-sa` in the `workload-identity` module complain? We dont use `depends_on` in there but if you have an example config to reproduce that would be great!

[2020-11-13 05:03] bharathkkb commented on #82
This looks like a side effect of https://www.terraform.io/upgrade-guides/0-13.html#data-resource-reads-can-no-longer-be-disabled-by--refresh-false

In a very simplified config, problem stems from `count = data.external.env_override.result.download  ? 1 : 0`.
When I do tf refresh **_with_** a module level depends_on
[code]
vs
when I do it **_without_** module level depends_on
[code]

[2020-11-14 15:08] kanekotic commented on #82
will give it a try and let you know first thing on monday

[2020-11-19 01:08] matthewblain opened #84 "terraform-google-gcloud does not run on Windows"
The terraform-google-gcloud module does not run on Windows due to a reliance on shell scripts.

### Repro

Run, say, `terraform plan` for a config which uses terraform-google-gcloud.

### Result
[code]

### Expected
Terraform to run the gcloud or other command specified in the Terraform config.

The documentation says the requirements are
* Terraform v0.12
* Terraform Provider for GCP plugin v2.0

[2020-11-19 01:20] morgante commented on #84
Thanks for the feedback, unfortunately this a bit tricky. Most likely real Windows support will require separate .cmd files.

Unfortunately this only works if this module were your "root module." However this module is most commonly embedded inside other modules, in which case we don't have native access to Terraform environment variables.

This ends up slowing down execution substantially and is

[2020-11-19 15:45] matthewblain commented on #84
My use case is "develop and test to test project on windows" and "deploy to production with on linux", while others simultaneously develop and test on mac.

To address that use case, the tool doesn't even need to have install working at all on Windows, it's fine to say it's required beforehand. So it might simplify things if it detects the OS and disables install there.

Note that after further in

[2020-12-07 22:00] davearata-snorack commented on #82
we are able to reproduce **without** a module level depends_on. Any other workarounds available?

[2020-12-08 00:03] bharathkkb commented on #82
Hi @davearata-snorack
Could you post a MCVE of this occurring without the `depends_on`? What version of Terraform?

[2020-12-16 21:53] rubyisbeautiful opened #85 "Be able to specify path to gcloud for auth"
Use `service_account_key_file` and `skip_download` together successfully.

Expected:
Be able to use these two options successfully when `gcloud` is not in the PATH

Result:
Fails when `gcloud` is not in PATH

Summary:
If the options `service_account_key_file` and `skip_download` are set, then [the command](https://github.com/terraform-google-modules/terraform-google-gcloud/blob/master/main.tf#L49)

[2020-12-16 22:11] morgante commented on #85
Why do you need to keep `gcloud` outside the PATH?

[2020-12-17 02:55] rubyisbeautiful commented on #85
Terraform is running on an executor VM, in a subprocess that we do not control.  gcloud is installed but not in the path.
We have workarounds, such as allowing the download in the module, but being able to specify the path to the gcloud install would be easy.  I can attempt a PR on this

[2020-12-17 06:01] morgante commented on #85
Are you able to modify other environment variables?

For context, we're really trying to avoid introduce additional variables which must be plumbed through all wrapping modules. While conceptually I have no issue with adding a variable for specifying the path, I'm concerned that it would end up needing to be added to all modules which call this module as well. If possible, I'd prefer an approach c

[2020-12-17 12:15] rubyisbeautiful commented on #85
I started [the change](https://github.com/rubyisbeautiful/terraform-google-gcloud/commit/cf94998b38d589908831dda17fd624630ce3be63); I see how it is wired to `kubectl-wrapper` and I guess you'd have to make `kubectl_wrapper.sh` a template since the `gcloud` is hardcoded in there.  Without 0.13+ module dependencies, you'd have to ensure the template is done before invoking that wrapper module.  Soun

[2021-01-25 23:00] zxpower commented on #82
Tried today with:
- Terraform v0.14.3
- hashicorp/google v3.52.0
Issue still persists if `depends_on` is turned on module level.

[2021-01-26 21:20] morgante opened #87 "Make `GOOGLE_CREDENTIALS` easier to use"
Currently, using the `GOOGLE_CREDENTIALS` env variable requires setting the `use_tf_google_credentials_env_var` variable on this module. This is hard to do on downstream modules (ex. https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/798).

We should consider either:

1. Detecting `GOOGLE_CREDENTIALS` and _automatically_ using it if found.
2. Adding an environmen

[2021-02-03 23:11] #84 closed

[2021-02-03 23:11] #83 closed

[2021-02-03 23:11] #66 closed

[2021-02-03 23:11] #81 closed

[2021-02-03 23:11] #64 closed

[2021-02-03 23:11] #38 closed

[2021-02-03 23:11] #29 closed

[2021-02-03 23:11] #3 closed

[2021-02-09 11:37] hritz220 opened #88 "how quick is terraform updated if a new gcp feature is released?"
if the google cloud platform(GCP) is releasing a new feature, generally in how much time terraform update, to support that new GCP feature? Please let me know, it will be very helpful.

[2021-02-09 17:29] morgante commented on #88
This module isn't the right place for that question: https://github.com/hashicorp/terraform-provider-google

Generally there is no official SLO for when Terraform support will be available. You can ask your Google account team to expedite features you need.

[2021-02-09 17:29] #88 closed

[2021-02-10 18:10] MeNsaaH commented on #82
[code]
@bharathkkb  this is an example of it not working without the `depends_on` set on module level. Terraform version 0.13.3

[2021-02-22 23:11] #85 closed

[2021-04-03 23:16] #87 closed

[2021-04-22 19:19] yashbhutwala opened #90 "Using service account impersonation for terraform invoking kubectl-wrapper module"
Related to https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/issues/874

I have a use-case where I'm using shared Terraform Cloud Agents, and my TF Cloud workspace is isolated by using service account impersonation, i.e.: the GSA that terraform agent runs terraform by default does not have GKE Admin IAM. Problem is since this module uses the kubectl-wrapper module like

[2021-04-22 20:29] yashbhutwala commented on #90
I think this would have worked fine with https://github.com/terraform-google-modules/terraform-google-gcloud/commit/dd041606792ca8a2c35db23acb056675448107a9#diff-6e733b6090a409f0e5babd452a6936826fd8e75d5fefbea560f11c3a5c1718e2, but it broke with https://github.com/terraform-google-modules/terraform-google-gcloud/commit/6501fd86c85bafa36d351f8d9c2c4ceb12b7571c.

@bharathkkb any suggestions how to p

[2021-05-08 20:59] #90 closed

[2021-05-10 02:24] morgante commented on #82
@bharathkkb Do you know if this is still a bug?

[2021-05-10 03:46] bharathkkb commented on #82
@morgante this should still be an error with module depends_on as the [data source eval ](https://github.com/terraform-google-modules/terraform-google-gcloud/blob/0d4e6f3e69e58e6f94b1d2325c4ea9f7ab68952d/main.tf#L70)will be pushed to apply time. I haven't encountered this with other cases but based on [this comment](https://github.com/hashicorp/terraform/issues/28131#issuecomment-801908363), this

[2021-05-10 17:55] morgante commented on #82
I'd like to avoid that, as I still prefer the env variable approach to having to plumb through variables.

We should try to switch to native resources as much as possible though.

[2021-05-24 16:04] dansiviter opened #93 "use_tf_google_credentials_env_var not chained in kubectl-wrapper"
Version: 2.1.0

[kubectl-wrapper](/terraform-google-modules/terraform-google-gcloud/blob/v2.1.0/modules/kubectl-wrapper/main.tf) cannot make use of `use_tf_google_credentials_env_var` as it's not chained through. This means it can only authenticate using either a pre-authorised image or via a file path. Nether of which is possible via Terraform Cloud.

It is somewhat confusing that `use_tf_google_

[2021-05-24 18:18] dansiviter opened #94 "Module does not work with Ephemeral Agents/Runners"
This module is not designed for ephemeral runners/agents such as Terraform Cloud Remote Operations that cannot have `gcloud` on the `PATH` and cannot have custom base images. If anything fails you have to unwind and re-apply all the changes again to force `gcloud` to be re-downloaded.

Example:

[code]

In the above example, due to a previously failed run the repeat run then fails to get passed th

[2021-05-24 18:25] morgante commented on #94
Are you setting the `GCLOUD_TF_DOWNLOAD` variable? it is specifically to enable downloading in environments where `gcloud` is not present.

[2021-05-24 18:51] dansiviter commented on #94
Apologies, I should have stated `skip_download: false` is set.

[2021-05-24 19:16] morgante commented on #94
I see, I'm not actually sure how we can fix this though. Open to ideas.

[2021-05-25 05:27] dansiviter commented on #94
I would argue we need to break the link between persisted TF state and local caching. That would mean dropping the following:
* `random_id.cache`,
* `null_resource.prepare_cache`,
* `null_resource.download_gcloud`,
* `null_resource.download_jq`.

Then performing caching from within each script to check for `gcloud` (or `jq`) each time. This will maintain the exiting functionality running locally a

[2021-05-25 07:31] morgante commented on #94
Moving the logic into each script (and, therefore, into bash) would probably work, though it does increase complexity.

However, I should be clear it's not necessarily a top priority for our team. In general we've found adding more functionality for downloading `gcloud` to add complexity (and a source of bugs) and are focusing more on having it available in all execution environments. So we're pro

[2021-05-25 07:47] morgante commented on #94
We'd love to move ASM install away from a bash script, but it definitely won't be happening soon.

[2021-05-31 05:25] AndreaGiardini commented on #94
I am hitting the same problem on terraform cloud. Have you found any workaround?

[2021-07-16 14:09] lubouski commented on #82
Dear google team, faced the. same issue with **kubectl-wrapper** module
**terraform version: Terraform v1.0.2 on darwin_amd64**

`
terraform init
Initializing modules...

Initializing the backend...

Initializing provider plugins...
- Reusing previous version of hashicorp/random from the dependency lock file
- Reusing previous version of hashicorp/external from the dependency lock file
- Reusing p

[2021-07-16 14:47] morgante commented on #82
@lubouski Can you try using `module_depends_on` instead of `depends_on` as a workaround?

[2021-07-24 01:11] bharathkkb commented on #93
fixed by https://github.com/terraform-google-modules/terraform-google-gcloud/pull/95

[2021-07-24 01:11] #93 closed

[2021-08-06 07:03] hitk6 opened #99 "Module does not work with WIF creds"
Hello,

We are using WIF (Workload Identity Federation ) to deploy GKE cluster from AWS environment. I have successfully completed the following:

- Create a WIF for an AWS role.
- Initialize terraform gcp provider with WIF credentials.
- Terraform is running and creating various resources in GCP like vpc, subnet, cluster.

The problem I am facing is:

- In my terraform I am using module (https://

[2021-08-10 02:20] morgante commented on #99
I don't have experience with Workload Identity Federation, but do you have an example of how you would be doing it on the command line (using `gcloud`) directly?

[2021-08-10 17:01] angstwad commented on #99
This could occur if the `gcloud` is too old to support WIF.  Support for WIF was added in https://github.com/googleapis/google-auth-library-python/pull/698, and gcloud would need to pull it in.  I believe once gcloud is updated, it should just work.  I don't have WIF configured but I did just confirm that my install of gcloud (v 349.0.0) is using google-auth v 1.32.0.

[2021-08-14 02:31] gvasquez-plenty opened #100 "use existing k8s sa fails"
Hello,

I'm trying to annotate an existing k8s sa but I'm getting this:

[code]

Do you guys knows how to fix this?

terraform version : 1.0.0
google: 3.53
kubernetes: 2.3.2

[2021-08-14 18:57] bharathkkb commented on #100
Hi @gvasquez-plenty
Could you paste the full error log and an example configuration for reproduction?

[2021-08-15 18:57] gvasquez-plenty commented on #100
Hello @bharathkkb

This is the example configuration for reproduction, I'm using terragrunt:

[code]
and this is the output error:

[code]

[2021-09-01 14:51] gvasquez-plenty commented on #100
@bharathkkb any update about this?

[2021-09-09 09:41] gtankovics commented on #82
any update regarding this? the problem still occurs in version 1.0.5.

I've tried using as @zxpower. There's a parent module which has `depends_on` but this module contains only `module_depends_on`.

[2021-09-26 19:04] fatehMohamed14 opened #102 "Get kubectl command stdout"
Is there a way to get the result of a command

For example getting the secrets

       source = "terraform-google-modules/gcloud/google//modules/kubectl-wrapper"
       kubectl_create_command  = "kubectl get secrets"

how to get the result of this command

[2021-09-27 19:54] morgante commented on #102
There's not currently a way to retrieve command outputs. What I recommend you do is pipe the output into a local file then retrieve it using the [local_file](https://registry.terraform.io/providers/hashicorp/local/latest/docs/data-sources/file) data source.

[2021-09-28 00:36] bharathkkb commented on #102
@fatehMohamed14 you can use the K8s provider and [secrets data source](https://registry.terraform.io/providers/hashicorp/kubernetes/latest/docs/data-sources/secret) to retrieve it.

[2021-09-28 00:36] #102 closed

[2021-09-28 22:50] briantopping opened #103 "GOOGLE_CREDENTIALS should be accepted as either JSON or it's base64 encoding"
Prior to parsing `GOOGLE_CREDENTIALS` as JSON, an attempt should be made to do a base64 decode on the string and using it to decode if base64 does not return an error. This is helpful in CI/CD such as Gitlab that allows the credentials to be masked in logs if they [match a regex](https://gitlab.endpoints.taara-cicd-gitlab-core-b894.cloud.goog/help/ci/variables/index#mask-a-cicd-variable) that spot

[2021-09-28 23:07] morgante commented on #103
Does Terraform itself support this? Our support for GOOGLE_CREDENTIALS is based on what the provider offers.

[2021-09-28 23:10] briantopping commented on #103
Thanks for thinking this through. Is there a vector by which the `GOOGLE_CREDENTIALS` environment variable could simply be converted in place if they are base64?

[2021-09-28 23:12] morgante commented on #103
What I would recommend doing is doing the conversion within your CI/CD pipeline.

[2021-09-28 23:12] briantopping commented on #103
I can accept that.. thanks :)

[2021-09-28 23:12] #103 closed

[2021-09-29 09:11] DanielHabenicht commented on #82
This works! Thanks.

[2021-09-29 19:00] DevOpsCoder15 opened #104 "Issues running sample code in Google Cloud Build"
### Terraform Version

$ terraform -v
Terraform v1.0.7
on linux_amd64
+ provider registry.terraform.io/hashicorp/google v3.84.0
+ provider registry.terraform.io/hashicorp/google-beta v3.84.0

### Terraform Configuration File:

module "gcloud" {
  source  = "terraform-google-modules/gcloud/google"
  version = "~> 2.0"

  platform = "linux"
  additional_components = ["kubectl", "beta"]

  create_cmd

[2021-09-30 14:49] DevOpsCoder15 commented on #104
**Update**

I installed curl on my Alpine Linux container and I set **skip_download** to "false."  However, I'm still getting the error "(local-exec): /bin/sh: curl: not found":

module.gcloud.random_id.cache[0]: Creating...
module.gcloud.random_id.cache[0]: Creation complete after 0s [id=OHpoXw]
module.gcloud.null_resource.prepare_cache[0]: Creating...
module.gcloud.null_resource.upgrade_destroy[

[2021-10-03 17:10] onsails commented on #94
I've managed to work-around adding for_each to the module arguments:

[code]

[2021-10-16 23:12] #99 closed

[2021-10-21 02:51] ymotongpoo opened #105 "Ambiguous explanations on `create_cmd_triggers` input"
At the very first look of [the document](https://registry.terraform.io/modules/terraform-google-modules/gcloud/google/latest), I was confused because the description of `create_cmd_triggers` says "List of any additional triggers for the create command execution." but its type and default is defined as `map`. Also, the description itself wasn't clear for me like "what is 'trigger' in this context?"

[2021-10-21 05:15] ymotongpoo commented on #105
Thanks @morgante for the reply. Your explanation helped me, and I would love to have it in the doc description to make it more explicit. I couldn't tell that the command will be re-run when the values get changed.

Also, I felt it's better to share reserved keys in the map that overrides the behavior.

[2021-10-21 20:48] kherrmann3 commented on #100
The module as defined within terraform looks like this:

[code]

This is part of the log that I find interesting:
[code]

For some reason the module appears to be constructing the "create_cmd_body" in a way that creates very odd values for  `ENABLE_IMPERSONATE_SERVICE_ACCOUNT` and `IMPERSONATE_SERVICE_ACCOUNT`.

In our terraform module configuration we have this: `impersonate_service_account = var

[2021-11-03 10:42] debakkerb opened #106 "Pipe character in destroy command incorrectly interpreted"
I'm using the `kubectl-wrapper` to install ECK (operator and CRDs).  According to the documentation, the way to delete the operator is to run both of these commands:

[code]

The problem is that when you introduce this as one command in `kubectl_destroy_command`, Terraform cuts off everything after the pipe character.  Any recommendations on how to solve this?

[code]

When I run `terraform destro

[2021-11-03 16:23] bharathkkb commented on #106
This may have something to do with the way we do [expansion](https://github.com/terraform-google-modules/terraform-google-gcloud/blob/28e9123eeaad71cca8c6b5d403b5153111335b87/modules/kubectl-wrapper/scripts/kubectl_wrapper.sh#L72). Could you try putting that command in a script and running the script as `kubectl_destroy_command`?

[2021-11-08 07:53] debakkerb commented on #106
Thanks, I changed our code and pushed everything into a shell script.  When I run that, I can't see the same behaviour anymore.

[2021-11-08 07:53] #106 closed

[2021-11-12 20:20] kherrmann3 commented on #100
Okay, it appears it might have been an issue with version 2.1.0, as I recently tested against 3.0.1 and it applied successfully.

That said, I feel like something might still be off, because I had tested 3.0.1 in the past (before I discovered we were missing the PROJECT_ID configuration in the modules block) and it didn't complain that PROJECT_ID was missing even though USE_EXISTING_CONTEXT wasn't

[2021-11-16 13:26] johnmartel opened #107 "Support using along terraform-google-provider 4.x.x"
### TL;DR

The current constraint on the version of `terraform-google-provider` forbids using on projects that have switched to the 4.x series of the provider.

### Terraform Resources

_No response_

### Detailed design

_No response_

### Additional information

We would like to use this module to invoke `gcloud` to create resources not yet supported by the `google` and `google-beta` providers.

[2021-11-19 08:00] ymotongpoo commented on #105
@morgante Thanks for the suggestion. Because the number of keys are too many considering the size of cell in the table, I referred the original source code in the fixed doc.

[2021-11-22 22:54] johnmartel commented on #107
This is closed by https://github.com/terraform-google-modules/terraform-google-gcloud/pull/108

[2021-11-24 21:56] #105 closed

[2021-12-06 23:13] #104 closed

[2021-12-15 21:34] #107 closed

[2021-12-25 23:53] kolban-google opened #111 "Examples directory not reachable from the public docs page"
### TL;DR

Visit this public page:

https://registry.terraform.io/modules/terraform-google-modules/gcloud/google/latest

Look in the usage section ... you will see a link to "examples".  Clicking here results in a 404 error.

### Expected behavior

Taken to a web page.

### Observed behavior

404 error

### Terraform Configuration

[code]

### Terraform Version

[code]

### Additional information

[2021-12-28 09:39] yuryninog commented on #111
Hi:
I have created a PR with a solution: https://github.com/terraform-google-modules/terraform-google-gcloud/pull/112

[2021-12-28 15:49] morgante commented on #111
Technically this is an upstream issue: https://github.com/hashicorp/terraform/issues/21452

[2021-12-28 15:49] #111 closed

[2022-01-13 13:36] grieshaber opened #113 "additional_components null resource exists with not found - wrong shebang"
### TL;DR

The null resource for additional components uses a local-exec provider. This means, the executed command will be sth like
`bin/sh -c <command>`.
The script `scripts/check_components.sh` contains the shebang line `#!/bin/bash/`. Running on images without a bash, but with a sh (like basic alpine images), the command will fail.

### Expected behavior

The command script will be exectuted s

[2022-01-19 23:12] #100 closed

[2022-01-20 12:45] franviera92 opened #114 "Error set locacion in kubectl_wrapper.sh"
https://github.com/terraform-google-modules/terraform-google-gcloud/blob/b21ffe619493ef1940e1bd8c9107d6e9169a34b8/modules/kubectl-wrapper/scripts/kubectl_wrapper.sh#L25

I get error with set location us-central1-a
LOCATION=$2
result=us-central1

can modify to take correct the string? Is valid to all variables
LOCATION=${2}
result=us-central1-a

[2022-02-16 18:29] crandall-chow-bl opened #116 "Configured destroy entrypoint (and body) not being invoked"
### TL;DR

The configured `destroy_cmd_entrypoint` and `destroy_cmd_body` are not being invoked, even though the logs show the destroy was triggered and resource was removed from the `.tfstate`.

### Expected behavior

On "destroy" (such as when TF needs to do a replace) the configured `destroy_cmd_entrypoint` and `destroy_cmd_body` should be invoked, similar to what happens on create, where the `

[2022-02-16 18:36] morgante commented on #116
What happens if you run `terraform destroy` instead of commenting the module out?

[2022-02-16 18:45] crandall-chow-bl commented on #116
Will try that and reply but that's certainly not what I want to do.  Commenting it out is just the test to show how the "destroy" can be called.  The actual use case is to pass a release number in the `create_cmd_body`.  When I want to deploy a new version, I update the module stanza with the new version number.  Calling `terraform apply` will see the change to the module, and have it do a "replac

[2022-02-16 18:48] morgante commented on #116
Yeah, I'm mostly trying to figure out why it wouldn't be invoked in your environment.

[2022-02-17 07:05] xetra11 commented on #82
Same issue when using the module in my GKE Cluster resource as depends_on. This is a showstopper for us :(

[2022-02-21 17:25] crandall-chow-bl commented on #116
I attempted the `terraform destroy` and sure enough, doing THAT does indeed invoke the entrypoint and body (see gist below).  So it's just the destroy on a normal `apply` path (e.g. delete the resource, or modify the resource causing a delete/create replace) where the endpoint/body aren't being invoked.

https://gist.github.com/crandall-chow-bl/b5a427c276f6c2c6be0d402304affe53#file-destroy-txt

[2022-03-08 18:22] morgante commented on #116
Unfortunately it looks like this is a Terraform Core issue: https://github.com/hashicorp/terraform/issues/13549

[2022-03-24 08:21] bjoernstachmann0007 commented on #82
This worked for me.

[2022-03-29 23:13] #114 closed

[2022-04-25 11:34] exaucae commented on #84
I'd like this to be reopened as I encounter the exact same issue. Is there any no hacky way to get the module work on windows?

[2022-06-22 01:01] apeabody opened #119 "Add option to install numPy"
### TL;DR

To increase the IAP TCP upload bandwidth consider installing NumPy: https://cloud.google.com/iap/docs/using-tcp-forwarding#linux

### Terraform Resources

_No response_

### Detailed design

_No response_

### Additional information

_No response_

[2022-06-22 20:47] #119 closed

[2022-06-24 10:44] djbingham commented on #82
@morgante Could we rename the `GCLOUD_TF_DOWNLOAD` variable to something like `TF_VAR_GCLOUD_DOWNLOAD`?

According to [a Terraform support article](https://support.hashicorp.com/hc/en-us/articles/4547786359571-Reading-and-using-environment-variables-in-Terraform-runs#:~:text=Terraform%20can%20directly%20access%20environment,using%20variable%20%22foo%22%20%7B%7D%20.), Terraform can directly access

[2022-07-13 15:54] shawlz commented on #82
I'm still getting this error on Terraform 1.2.5 and terraform module `terraform-google-modules/kubernetes-engine/google`  v21.2.0 when using ASM

[code]

[code]

Any help would be really appreciated.

[2022-07-13 16:10] apeabody commented on #82
Hi @shawlz Could you try replacing `depends_on =` with `module_depends_on =`?

[2022-07-13 16:16] shawlz commented on #82
@apeabody Yes, here is what I got

[code]

[2022-07-13 16:17] apeabody opened #121 "add module_depends_on to asm sub-module?"
### TL;DR

add module_depends_on to asm sub-module?

### Terraform Resources

_No response_

### Detailed design

_No response_

### Additional information

_No response_

[2022-07-13 16:18] apeabody commented on #82
@shawlz Ahh, I see now you are using the asm sub-module.  I've open a Feature Request to investigate https://github.com/terraform-google-modules/terraform-google-gcloud/issues/121

[2022-07-13 16:27] shawlz commented on #82
Thanks @apeabody

[2022-07-19 18:15] #121 closed

[2022-07-31 17:54] headegg commented on #82
Hi @apeabody. I've run into the same issue with the workload-identity sub-module. I see the fix that you made to asm under Feature Request #121, adding a module_depends_on var to the module and wiring it in where you use kubectl-wrapper. I tried the same thing in my local workload-identity module and it fixed the problem. Could you please look into applying this to workload-identity?

Am I going a

[2022-08-01 23:55] apeabody commented on #82
Hi @headegg - Thanks for reaching out!  Typically I would suggest opening a fresh feature request, but not to worry as I've created the pull request for workload-identity which you can track here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/1341

[2022-08-02 07:41] headegg commented on #82
Thanks a million @apeabody. I'll bear that in mind in future.

[2022-08-05 15:13] aablsk commented on #82
@apeabody When using module_depends_on on the asm module I get the following error:
[code]

This is the corresponding module usage:
[code]

[2022-08-05 17:20] apeabody opened #123 "In TF 0.13+ all list elements must have the same type"
### TL;DR

Historically `list(any)` was used for https://github.com/terraform-google-modules/terraform-google-gcloud/blob/6789fa726f443e36a3159f452eec0fc5f9a9ff4b/variables.tf#L35  However subsequent to https://github.com/hashicorp/terraform/issues/26265, all list elements must have the same type.  So for example this fails: `module_depends_on = [time_sleep.wait_300_seconds, null_resource.test]` T

[2022-08-05 17:32] apeabody commented on #82
Hi @aablsk - Thanks for reaching out!  It's bit more complicated than I expected, but you can track a potential workaround here: https://github.com/terraform-google-modules/terraform-google-kubernetes-engine/pull/1354

[2022-08-06 00:31] bharathkkb commented on #123
@apeabody updating docs to clarify this sgtm. IIUC end users can also workaround this by type coercion if needed.

[2022-09-21 23:15] rjouhann opened #126 "Add output of the gcloud command in the terraform state"
### TL;DR

Hello,

I was trying to use this module in order to use the output of the gcloud but this isn't possible.
I can see it showing in the execution logs but it is not saved in the state and cannot be retrieved it through terraform.

Using the example with ``gcloud version``, it would be great to access the gcloud output in terraform and capture the output in the state.

[code]

Thanks & Reg

[2022-10-04 11:37] vivek-ins opened #127 "No file diectory issue"
### TL;DR

Error: External Program Execution Failed
│
│   with module.build_terraform_image.data.external.env_override[0],
│   on .terraform/modules/build_terraform_image/main.tf line 73, in data "external" "env_override":
│   73:   program = ["${path.module}/scripts/check_env.sh"]
│
│ The data source received an unexpected error while attempting to execute the program.
│
│ Program: .terraform/mod

[2022-10-13 23:20] #123 closed

[2022-10-19 21:46] rjouhann commented on #81
I have the same problem running Terraform gcloud module in Terraform Cloud. I don't think it is possible to install gcloud in Terraform cloud unfortunately.

Best would be to be able to ignore the `gcloud_bin_abs_path`. There is an existing issue open on Terraform to enable this generally for all module https://github.com/hashicorp/terraform/issues/27360.

[2022-10-27 04:27] renovate[bot] opened #130 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update actions/stale action to v6
 - [ ] chore(deps): update terraform google to v4
 - [ ] chore(

[2022-11-21 23:20] rjouhann commented on #126
Hello, I am still interested in this enhancement.